.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


.searchContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border: solid  var(--line-color) 1px;
  border-radius: var(--border-radius);
  padding: 4px;
  flex-wrap: wrap;
}

.selectedNameBox{
  margin-right: 4px;
  border-radius: var(--border-radius);
  background-color: #e2e8f0;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
  padding: 4px;
  white-space: nowrap;
  align-items: center;
}

.selectorContainer{
  width: 600px;
}

.selectorInput{
  height: 40px;
  border: 0;
  padding: 4px;
  font-size: medium;
  flex: 1;
}

.selectorInput:focus-visible{
  border: 0;
  outline: none;
}

.characterTable{
  border-radius: var(--border-radius);
  width: 100%;
  max-height: 700px;
  margin-top: 20px;
  border: 1px solid var(--line-color);
  border-collapse: collapse;
  overflow: auto;

}

.characterRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid var(--line-color); /* Add this line */
  /* border: 1px solid var(--line-color);; */
  /* border-collapse:separate; */
  
}

.rowCheckBox{
  margin: 10px;
}

.characterImage{
  border-radius: var(--border-radius);
  margin-right: 10px;

}

.characterInfoContainer{
  display: flex;
  flex-direction: column;
}

.characterName{
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--searcher-text-color);
}

.characterEpisode{
  width: 100%;
  color:  var(--searcher-text-color);

}