.wrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
  }
  
  .multiSelectContainer{
  }
  
  .searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border: solid  var(--line-color) 1px;
    border-radius: var(--border-radius);
    padding: 4px;
    flex-wrap: wrap;
  }
  
  .selectedNameBox{
    margin-right: 4px;
    border-radius: var(--border-radius);
    background-color: #e2e8f0;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    padding: 4px;
    white-space: nowrap;
    align-items: center;
  }

  .highlightedSelectedNameBox{
    border: solid red 2px;
  }
  
  
  .selectorInput{
    height: 40px;
    border: 0;
    padding: 4px;
    font-size: medium;
    flex: 1;
  }
  
  .selectorInput:focus-visible{
    border: 0;
    outline: none;
  }
  
  .itemTable{
    border-radius: var(--border-radius);
    width: 100%;
    max-height: 700px;
    margin-top: 20px;
    border: 1px solid var(--line-color);
    border-collapse: collapse;
    overflow: auto;
  
  }
  
  .titleRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid var(--line-color);
        
  }
  .titleRow:hover{
    /* background-color: #96919269; */
  }

  .highlightedRow{
    background-color: #96919269;
    
  }
  
  .rowCheckBox{
    margin: 10px;
  }
  
  .itemImageStyle{
    border-radius: var(--border-radius);
    margin-right: 10px;
  
  }
  
  .itemInfoContainer{
    display: flex;
    flex-direction: column;
  }
  
  .itemTitleStyle{
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    color: var(--searcher-text-color);
  }
  
  .subTitleStyle{
    width: 100%;
    color:  var(--searcher-text-color);
  
  }